[submodule "nvim"]
	path = nvim
	url = https://github.com/Fymyte/nvim-config.git
	branch = main
[submodule "polybar"]
	path = polybar
	url = https://github.com/Fymyte/polybar-config.git
	branch = main
