[submodule "nvim"]
	path = nvim
	url = https://github.com/Fymyte/nvim-config.git
	branch = main
[submodule "polybar"]
	path = polybar
	url = https://github.com/Fymyte/polybar-config.git
	branch = main
[submodule "zsh"]
	path = zsh
	url = https://github.com/Fymyte/zsh-config.git
[submodule "i3"]
	path = i3
	url = https://github.com/Fymyte/i3-config.git
	branch = main
